<!DOCTYPE html>
<html>
<head>
  <title>Closeout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#notice').removeClass('show-notice');
        }, 5000);
    });

    function showIssue() {
        $('#issue-form').toggleClass('issue-show');
    }
</script>

</body>
</html>
